@import url(fonts.css);
h1 {
  text-align: center;
  font-family: 'Comfortaa';
  font-size: 100px;
  font-weight: 50;
  line-height: 1px;
  letter-spacing: -5px;
  color: #EDE9E3;
}

.pull-out-list-header {
  width: 575px;
  height: 375px;
  margin: 0 auto;
  background: #FFFFFF;
  box-shadow: 0 0 4px rgba(0.5, 0.2, 0, 0.2);
}

.todo-app-dropdown-list {
  margin: 0 auto;
  width: 562px;
  height: 402px;
  background: #FFFFFF;
}

.button-name1 {
  float: left;
  width: 34px;
  height: 34px;
}

.todo-app-footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 562px;
  font-size: 14px;
  background: #FFFFFF;
  color: #888888;
}

#search-todos {
  font-family: 'Comfortaa';
  font-style: italic;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  margin-left: 7px;
  outline: none;
  border: 0;
  text-align: left;
  letter-spacing: -1px;
}

.pull-out-check-list {
  font-family: 'Montserrat';
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -305px;
  font-weight: 300;
  font-size: 24px;
  line-height: 25px;
  letter-spacing: -0.5px;
  color: #666666;
}

.pull-out-section {
  width: 562px;
  height: 64px;
  background: #FFFFFF;
  box-shadow: inset 0 -1px 0 #E6E6E6;
}

.button-delete-task {
  /*image cross */
  float: right;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-top: 10px;

}

footer {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 562px;
  height: 50px;

  box-shadow: inset 0 -1px 0 #E6E6E6;
}

.pull-out-list-footer-container {
  line-height: 35px;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
}

.footer-section {
  font-family: 'Comfortaa';
  display: flex;
  font-size: 14px;
  flex-direction: row;
  margin-top: 6px;
  width: 562px;
}

.bool-clean-button-footer {
  line-height: 35px;
}

.button-clear {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 300px;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.35px;

  color: #888888;
  background: #FFFFFF;
  border: none;
}

.buttons {
  line-height: 36px;
  margin: 0 auto;
}
